<%= form_for(task) do |f| %>
  <%= render "shared/error_messages", object: task %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :planned_hours %>
    <%= f.number_field :planned_hours %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Task.statuses.keys.map { |s| [s.humanize, s] } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
