<!DOCTYPE html>
<html>
  <head>
    <title>Activity Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
  </head>

  <body>
  	<%= render "shared/header" %>
  	<div class="page-container">
  		<div class="container">
  			<%= render "shared/alerts" %>
		    <%= yield %>
  		</div>
  	</div>
  </body>
</html>
